@{
    ViewBag.Title = "广西地质灾害数据库";

}
       

<!-- 重要新闻展示不滚动 -->
<div class="gonggao important_news">
    <div class="tit dib vm"><img src="~/Images/18830/icon_hot.png"><b class="dib vm">要闻动态</b></div>
    <h1><a href="news_xq.html">2020-02-19 广西崇左市大新县 发生地震地震级别：2.6级，震源深度：6公里</a></h1>
</div>
 



<!-- 双公示 -->
<div class="conbox">
    <div class="public_list">
        <div class="hd sy_title fix">
            <h2 class="l"><img src="Images/18830/icon_gongshi.png"><b class="fc">最近地震灾害</b></h2>
            <ul class="l">
                <li><a href="info_public.html">国内灾害</a></li>
                <li><a href="info_public_cf.html">国外灾害</a></li>
            </ul>
            <span class="r more more01">
                <a href="info_public.html">查看更多></a>
                <a href="info_public_cf.html">查看更多></a>
            </span>
        </div>
        <div class="bd">
            <!-- 行政许可公示 -->
            <div>
                <form class="search_list">
                    <div class="box dib vm"><span>发生地 ：</span><input type="text" name=""></div>
                    <div class="box dib vm"><span>灾害名称：</span><input type="text" name=""></div>
                    <div class="box dib vm">
                        <span>发生灾害时间：</span>
                        <div class="dib vm laydate-icon" id="startTime01"></div>

                        <div class="dib vm laydate-icon" id="endTime01"></div>
                    </div>
                    <button type="submit">查 询</button>
                </form>

                <!-- 行政许可列表 -->
                <table class="table_list">
                    <thead>
                        <!--表头-->
                        <tr>
                            <td width="60">序号</td>
                            <td>灾害名称</td>
                            <td class="item">发生经纬度</td>
                            <td>灾害级别</td>
                            <td class="item01">发生地点</td>
                            <td>发生时刻(UTC+8)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="60">1</td>
                            <td>地震</td>
                            <td class="item"><a>28.09纬度(°)   103.51经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">	云南昭通市永善县</td>
                            <td>2020-02-28 07:56:17	</td>
                        </tr>
                        <tr>
                            <td width="60">2</td>
                            <td>地震</td>
                            <td class="item"><a>31.93纬度(°)   95.13经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">	西藏昌都市丁青县</td>
                            <td>2020-02-27 21:14:05</td>
                        </tr>
                        <tr>
                            <td width="60">3</td>
                            <td>地震</td>
                            <td class="item"><a>23.87纬度(°)   121.68经度(°)</td>
                            <td>普通</td>
                            <td class="item01">	台湾花莲县海域</td>
                            <td>2020-02-26 13:34:14</td>
                        </tr>
                        <tr>
                            <td width="60">4</td>
                            <td>地震</td>
                            <td class="item"><a>24.42纬度(°)   121.45经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">福泉市综合行政执法局</td>
                            <td>2020-02-25 19:14:02</td>
                        </tr>
                        <tr>
                            <td width="60">5</td>
                            <td>地震</td>
                            <td class="item"><a>36.56纬度(°)   76.91经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">新疆喀什地区叶城县</td>
                            <td>2020-02-25 18:44:39</td>
                        </tr>
                        <tr>
                            <td width="60">6</td>
                            <td>地震</td>
                            <td class="item"><a>29.50纬度(°)    104.55经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">	四川内江市威远县</td>
                            <td>2020-02-25 16:18:59</td>
                        </tr>
                        <tr>
                            <td width="60">7</td>
                            <td>地震</td>
                            <td class="item"><a>39.91纬度(°)   77.49经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">	新疆克孜勒苏州阿图什市</td>
                            <td>2020-02-24 09:47:02</td>
                        </tr>
                        <tr>
                            <td width="60">8</td>
                            <td>地震</td>
                            <td class="item"><a>38.25纬度(°)   113.98经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">	河北石家庄市平山县</td>
                            <td>2020-02-23 03:38:01</td>
                        </tr>
                        <tr>
                            <td width="60">9</td>
                            <td>地震</td>
                            <td class="item"><a>39.87纬度(°)    77.47经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">	新疆喀什地区伽师县</td>
                            <td>2020-02-21 23:39:14</td>
                        </tr>
                        <tr>
                            <td width="60">10</td>
                            <td>地震</td>
                            <td class="item"><a>34.54纬度(°) 	85.88经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">	西藏阿里地区改则县</td>
                            <td>2020-02-21 02:11:05</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 国外公示 -->
            <div>
                <form class="search_list">
                    <div class="box dib vm"><span>发生地 ：</span><input type="text" name=""></div>
                    <div class="box dib vm"><span>灾害名称：</span><input type="text" name=""></div>
                    <div class="box dib vm">
                        <span>发生灾害时间：</span>
                        <div class="dib vm laydate-icon" id="startTime01"></div>

                        <div class="dib vm laydate-icon" id="endTime01"></div>
                    </div>
                    <button type="submit">查 询</button>
                </form>

                <!-- 行政许可列表 -->
                <table class="table_list">
                    <thead>
                        <!--表头-->
                        <tr>
                            <td width="60">序号</td>
                            <td>灾害名称</td>
                            <td class="item">发生经纬度</td>
                            <td>灾害级别</td>
                            <td class="item01">发生地点</td>
                            <td>发生时刻(UTC+8)</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td width="60">1</td>
                            <td>地震</td>
                            <td class="item"><a>-19.29纬度(°)   -173.06经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">		汤加群岛地区</td>
                            <td>2020-02-28 15:41:53</td>
                        </tr>
                        <tr>
                            <td width="60">2</td>
                            <td>地震</td>
                            <td class="item"><a> 3.75纬度(°)	125.90经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">		印尼塔劳群岛</td>
                            <td>2020-02-28 03:13:03	</td>
                        </tr>
                        <tr>
                            <td width="60">3</td>
                            <td>地震</td>
                            <td class="item"><a>-7.70纬度(°)	131.05精度(°)	</td>
                            <td>普通</td>
                            <td class="item01">	印尼塔宁巴尔群岛地区</td>
                            <td>2020-02-26 15:33:08</td>
                        </tr>
                        <tr>
                            <td width="60">4</td>
                            <td>地震</td>
                            <td class="item"><a>38.46纬度(°)  	44.42	经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">	伊朗西北部 </td>
                            <td>2020-02-24 00:00:34</td>
                        </tr>
                        <tr>
                            <td width="60">1</td>
                            <td>地震</td>
                            <td class="item"><a>	38.46纬度(°)  	44.48经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">	伊朗西北部</td>
                            <td>2020-02-23 13:53:03</td>
                        </tr>
                        <tr>
                            <td width="60">2</td>
                            <td>地震</td>
                            <td class="item"><a>--0.20纬度(°)  	125.25   经度(°)</a></td>
                            <td>普通</td>
                            <td class="item01">	印尼马鲁古海南部</td>
                            <td>2020-02-26 15:33:08	</td>
                        </tr>
                   </table>

               
            </div>
        </div>
    <script type="text/javascript">jQuery(".public_list").slide();</script>
</div>
</div>